* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  height: 1080px;
  background-color: #fbfbfb;
}

section {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  gap: 93px;
}
