* {
  background-color: #fbfbfb;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  transition: 2ms all;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  gap: 93px;
  padding-left: 207px;
}

header > h1 {
  margin-left: 19px;
  color: #445964;
}

nav > a {
  font-size: 20px;
  color: #445964;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  gap: 167px;
}

aside > h2 {
  color: #445964;
  font-size: 24px;
}

h2 > span {
  font-size: 72px;
  font-weight: 900;
  width: 545px;
}

aside > button {
  width: 310px;
  height: 65px;
  background-color: #263138;
  border-radius: 20px;
  color: #ffffff;
  font-size: 22px;
  margin-top: 130px;
  margin-bottom: 175px;
}

aside :last-child {
  display: flex;
  gap: 26px;
}

.social-media :nth-child(n) {
  width: 40px;
  height: 40px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 109px;
}

.description-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description-about :last-child {
  font-size: 24px;
  color: #445964;
}

.description-about :first-child {
  width: 186px;
  height: 207px;
}

.description-about :nth-child(2) {
  font-size: 64px;
  color: #445964;
}

.hard-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 80px;
  gap: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box-content :first-child {
  font-size: 30px;
  color: #445964;
}

.box-skill {
  display: flex;
  gap: 8px;
}

.icon-box {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  border: 3px solid #445964;
}

.skill-complete {
  background-color: #445964;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  margin-left: 235px;
  margin-top: 109px;
}

.title-portfolio {
  display: flex;
  gap: 91px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
}

.title-portfolio p, .title-portfolio span {
  font-size: 64px;
  color: #445964;
  font-weight: bold;
}

.title-portfolio span {
  color: #263138;
}

.title-portfolio :last-child {
  font-size: 24px;
  width: 398px;
  align-self: flex-end;
}

.portfolio-filter {
  display: flex;
  gap: 18px;
  margin-bottom: 75px;
}

.portfolio-filter > button {
  width: auto;
  height: 65px;
  background-color: #DFDFDF;
  border-radius: 20px;
  padding: 18px 30px;
  font-size: 24px;
  font-weight: bold;
  color: #445964;
}

.portfolio-filter > button:hover {
  color: #ffffff;
  background-color: #263138;
}

.card-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  width: 100%;
}

.card-content > div {
  width: 380px;
  height: 260px;
  background-color: #445964;
  border-radius: 20px;
}

.card-content > div:nth-child(even) {
  background-color: #263138;
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 109px;
}

.tech > p:first-child {
  font-size: 64px;
  color: #445964;
  font-weight: bold;
}

.tech > p > span {
  color: #263138;
}

.tech-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 109px;
  text-align: center;
  margin-top: 117px;
}

.tech-description p {
  font-size: 24px;
  color: #445964;
}

.tech-title {
  font-size: 36px !important;
  font-weight: bold;
}

.tech-title span {
  color: #263138;
}

.image-content {
  display: flex;
  gap: 100px;
}

.professional {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 107px;
}

.title-professional {
  display: flex;
  gap: 91px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 170px;
  margin-right: 235px;
}

.title-professional p, .title-professional span {
  font-size: 64px;
  color: #445964;
  font-weight: bold;
}

.title-professional span {
  color: #263138;
}

.title-professional :first-child {
  font-size: 24px;
  width: 398px;
  align-self: flex-end;
}

.professional-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
}

.professional-content :nth-child(even) {
  background-color: #445964;
}

.even-margin {
  margin-top: -60px;
}

.even-color {
  color: #263138 !important;
}

.professional-card {
  width: 530px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 20px;
  background-color: #263138;
  text-align: center;
}

.professional-card .title {
  color: #445964;
  font-size: 36px;
  font-weight: bold;
  background-color: transparent;
}

.professional-card :last-child {
  width: 495px;
  font-size: 24px;
  background-color: transparent;
  color: #ffffff;
  height: auto;
}
